HOSTNAME: gitlab
AWS_ELASTIC_IP: xx.xx.xx.xx
AWS_ACCESS_KEY_ID: XXXXXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_KEYPAIR_NAME: xx-gitlab
AWS_REGION: ap-northeast-1
AWS_INSTANCE_TYPE: t2.micro
AWS_PRIVATE_KEY_PATH: /Users/admin/keypair.pem 
